<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyPro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 配置struts2过滤器 -->
  <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  
  <!-- 配置Servlet -->
  <servlet>
      <servlet-name>UserServlet</servlet-name>  
      <servlet-class>com.servlet.UserServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ShoesInfoServlet</servlet-name>  
    <servlet-class>com.servlet.ShoesInfoServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ShoesliebiaoServlet</servlet-name>
    <servlet-class>com.servlet.ShoesliebiaoServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ShoesServlet</servlet-name>
    <servlet-class>com.servlet.ShoesXiangqingServlet</servlet-class>
  </servlet>
  
  <servlet>
   <servlet-name>AddShopCarServlet</servlet-name>
   <servlet-class>com.servlet.AddShopCarServlet</servlet-class>
  </servlet>
  
  <servlet>
   <servlet-name>AddOrderServlet</servlet-name>
   <servlet-class>com.servlet.AddOrderServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>QueryOrdersServlet</servlet-name>
    <servlet-class>com.servlet.QueryOrdersServlet</servlet-class>
  </servlet>
  <!-- Servlet的映射关系 -->
  
  <servlet-mapping>
     <servlet-name>UserServlet</servlet-name>
     <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
   <servlet-name>ShoesInfoServlet</servlet-name>
   <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
   <servlet-name>ShoesliebiaoServlet</servlet-name>
   <url-pattern>/liebiao.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ShoesServlet</servlet-name>
    <url-pattern>/info.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddShopCarServlet</servlet-name>
    <url-pattern>/shopCar.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
   <servlet-name>AddOrderServlet</servlet-name>
   <url-pattern>/order.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>QueryOrdersServlet</servlet-name>
    <url-pattern>/queryOrders.do</url-pattern>
  </servlet-mapping>
  <!-- 配置过滤器 -->
   <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.util.EncodingFilter</filter-class>
    
    <!-- 解决中文问题 -->
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <!-- 定义过滤器 -->
    <filter>
      <filter-name>LoginFilter</filter-name>
      <filter-class>com.filter.LoginFilter</filter-class>
     </filter>  
  <!-- 定义过虑器的拦截机制   拦截所有以.do结尾的页面-->
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
     <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
   <!-- 定义过虑器的拦截机制 -->
    <filter-mapping>
     <filter-name>LoginFilter</filter-name>
     <url-pattern>*.do</url-pattern>
     <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
</web-app>